<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evdokimoveu.testopengeeklab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Welcome"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChoiceRegistrationActivity"
            android:label="@string/title_activity_choice_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmailRegistrationActivity"
            android:label="@string/title_activity_email_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FBRegistrationActivity"
            android:label="@string/title_activity_fbregistration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmaiLoginActivity"
            android:label="@string/title_activity_emai_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FBLoginActivity"
            android:label="@string/title_activity_fblogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TableNewsActivity"
            android:label="@string/title_activity_table_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TableUserActivity"
            android:label="@string/title_activity_table_user"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
